{{ define "main" }}
{{ partial "datalist" . }}
<div>
  <div class="columns is-variable">
    <div class="column is-4">
      <div class="has-text-left has-text-grey is-italic has-text-weight-light is-size-7">
        {{ if .Params.sheetId }}
          Source: <a href="https://docs.google.com/spreadsheets/d/{{.Params.sheetId}}/edit#gid=0" target="_blank">Google Sheet</a>
        {{ end }}
      </div>
    </div>
    <div class="column is-4">
      <div class="has-text-centered has-text-left-mobile has-text-grey is-italic has-text-weight-light is-size-7">
      </div>
    </div>
    <div class="column is-4">
      <div class="has-text-right has-text-left-mobile has-text-grey is-italic has-text-weight-light is-size-7">
        {{ $githubURL := printf "https://api.github.com/repos/DanielMuller/mercredistes.mesphotos.ch/commits?path=data/%s.json&page=1&per_page=1" .Params.year }}
        {{ $data := getJSON $githubURL }}
        {{ range first 1 $data }}Dernière mise à jour: {{ dateFormat "02.01.2006 15:04:05 MST" (.commit.committer.date | time).Local }}{{ end }}
      </div>
    </div>
</div>
{{ end }}
