{{ define "main" }}
{{ partial "datalist" . }}
<footer class="footer">
  <div class="columns is-variable">
    <div class="column is-4">
      <div class="has-text-left has-text-grey is-italic has-text-weight-light is-size-7">
        {{ if .Params.SheetId }}
          Source: <a href="https://docs.google.com/spreadsheets/d/{{.Params.SheetId}}/edit#gid=0" target="_blank">Google Sheet</a>
        {{ end }}
      </div>
    </div>
    <div class="column is-4">
      <div class="has-text-centered has-text-left-mobile has-text-grey is-italic has-text-weight-light is-size-7">
      </div>
    </div>
    <div class="column is-4">
      <div class="has-text-right has-text-left-mobile has-text-grey is-italic has-text-weight-light is-size-7">
      </div>
    </div>
</footer>
{{ end }}
