<article>
  <div class="row columns is-multiline">
  {{ range sort (index .Site.Data .Params.Year) "date" "desc" }}
    <div class="column is-2">
      <a href="{{.url}}" target="_blank">
      <div class="card">
      {{if .image}}
        {{ $resource := resources.Get .image }}
        {{ if $resource }}
          {{ $image1 := $resource.Fill "300x200" }}
          {{ $image2 := $resource.Fill "100x66" }}
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="{{ $image1.Permalink }}" alt="">
              {{ if .photographer }}
                <figcaption class="is-overlay is-relative has-background-dark has-text-right" style="opacity:0.8;padding:0.2rem"><p class="has-text-white is-size-7" style="opacity:1">{{ .photographer }}</p></figcaption>
              {{ end }}
            </figure>
          </div>
        {{ end }}
        {{ end }}
        <div class="card-content" style="padding:0.3rem">
          <div class="content">
            <p class="title is-5">{{ .name }}</p>
            <p class="subtitle is-7 is-italic">{{ .date }}</p>
          </div>
        </div>
      </div>
      </a>
    </div>
  {{end}}
  </div>
</article>
